<section class="p-4">
    <div class="container">
        <div class="row form-section-wrapper justify-content-center align-items-center">
            <div class="col-8">

                <div class="form-section">
                    <form action="/logo-parse" method="post">
                        <div class="mb-3">
                            <input type="url" name="url" class="form-control form-control-lg" placeholder="Enter website URL">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg w-100">
                            Submit
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>